<a href="https://colab.research.google.com/github/bing020815/Python-Basic/blob/master/Basic/Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Comprehensions

In [0]:
nums = [1,2,3,4,5,6,7,8,9,10]

### # I want 'n' for 'n' in nums

In [2]:
# I want 'n' for 'n' in nums
my_list=[]
for n in nums:
    my_list.append(n)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
my_com_list = [n for n in nums]
my_com_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### I want 'n*n' for 'n' in nums

In [4]:
my_list=[]
for n in nums:
    my_list.append(n*n)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
my_com_list = [n*n for n in nums]
my_com_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### I want 'n' for 'n' in nums if 'n' is even

In [6]:
my_list=[]
for n in nums:
    if n%2 == 0:
        my_list.append(n)
print(my_list)

[2, 4, 6, 8, 10]

In [7]:
my_com_list = [n for n in nums if n%2==0]
my_com_list

[2, 4, 6, 8, 10]

### I want a (letter, num) pair for each letter in 'abcd' and each number in '0123'

In [8]:
my_list=[]
for letter in 'abcd':
    for num in range(4):
        my_list.append((letter, num))
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [9]:
my_com_list = [(letter, num) for letter in 'abcd' for num in range(4)]
my_com_list

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

## Dictionary Comprehensions

In [10]:
names=['Bruce', 'Clark', 'Peter','Logan','Wade']
heros=['Batman','Superman', 'Spiderman', 'Wolverine','Deadpool']
print(zip(names,heros))

<zip object at 0x7fcb640fc2c8>

### I want a dict{'name':'hero'} for each name, hero in zip(names, heros)

In [11]:
my_dict={}
for name,hero in zip(names, heros):
    my_dict[name]=hero
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [12]:
my_com_dict = {name: hero for name,hero in zip(names, heros)}
my_com_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Logan': 'Wolverine',
 'Peter': 'Spiderman',
 'Wade': 'Deadpool'}

#### If name not equal to Peter

In [13]:
my_com_dict = {name: hero for name,hero in zip(names, heros) if name != 'Peter'}
my_com_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

## Set Comprehensions

In [14]:
nums=[1,1,2,1,3,4,5,6,6,7,7,8,8,9,9,0]
my_set=set()
for n in nums:
    my_set.add(n)
print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
my_com_set={n for n in nums}
my_com_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Generator Expression

### I want to yield 'n*n' for each 'n' in nums

In [16]:
nums = [1,2,3,4,5,6,7,8,9,10]

def gen_func(nums):
    for n in nums:
        yield n*n      # yield make the function be the generator
        
my_gen=gen_func(nums)

for i in my_gen:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [17]:
my_com_gen=(n*n for n in nums)
for i in my_com_gen:
    print(i)

1
4
9
16
25
36
49
64
81
100