<a href="https://colab.research.google.com/github/bing020815/Python-Basic/blob/master/Basic/LAMBDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions lambda  
https://www.bogotobogo.com/python/python_functions_lambda.php

Like def, the lambda creates a function to be called later. But it returns the function instead of assigning it to a name.  
This is why lambdas are sometimes known as anonymous functions.

Here is the differece between a normal function definition, func and a lambda function, lamb:

In [47]:
# Define a function that can takes a value and return the value of power of three
def func(x): return x ** 3
# try the function
func(5)

125

In [48]:
# Define a function that can takes a value and return the value of power of three
lamb = lambda x: x ** 3
# try the function
lamb(5)

125

125

125

As we can see, func() and lamb() do exactly the same and can be used in the sam ways.   
** *Note: the lambda definition does not include a return statement* **  
we can put a lambda definition anywhere a function is expected, and we don't have to assign it to a variable at all.

The lambda's general form is :  
**lambda** *arg1, arg2, ...argN*  **:**  *expression using arguments*  

1. lambda is an expression, not a statement
    + a lambda can appear in places a def is not allowed
    + lambda returns a value that can optionally be assigned a name
    + the def statement always assigns the new function to the name in the header, instead of returning is as a result


2. lambda's body is a single expression, not a block of statements
    + a lambda is less general that a def
    + lambda is designed for coding simple functions, and def handles larger tasks

In [49]:
def f(x, y, z): 
    return x + y + z

f(2, 30, 400)

432

432

432

We can achieve the same effect with lambda expression by explicitly assigning its result to a name through which we can call the function later

In [50]:
f = lambda x, y, z: x + y + z

f(2, 30, 400)

432

432

432

Here, f is assigned the function object the lambda expression creates. This is how def works, too. But in def, its assignment is an automatic must.

Default work on lambda arguments:

In [51]:
# display a + b + c
mz = (lambda a = 'Wolfgangus', b = ' Theophilus', c = ' Mozart': a + b + c)

mz('Wolfgang', ' Amadeus')

'Wolfgang Amadeus Mozart'

'Wolfgang Amadeus Mozart'

'Wolfgang Amadeus Mozart'

In the following example, the value for the name title would have been passes in as a default argument value

In [52]:
def writer():                          # the writer() does not need a input variable
    title = 'Sir'
    name = (lambda x:title + ' ' + x)  # x is the input variable
    return name

who = writer()

who('Arthur Ignatius Conan Doyle')

'Sir Arthur Ignatius Conan Doyle'

'Sir Arthur Ignatius Conan Doyle'

'Sir Arthur Ignatius Conan Doyle'

##  Why lambda?  
The lambdas can be used as a function shorthand that allows us to embed a function within the code.   
For instance, callback handlers are frequently coded as inline lambda expressions embedded directly in a registration call's arguments list.   
Instead of being define with a def elsewhere in a file and referenced by name, lambdas are also commonly used to code jump tables which are lists or dictionaries of actions to be performed on demand.

In [53]:
L = [lambda x: x ** 2, 
     lambda x: x ** 3,
     lambda x: x ** 4]

for f in L:
    print(f(3))

9
27
81
9
27
81
9
27
81

In [54]:
L[0](11)

121

121

121

In the example above, a list of three functions was built up by embedding lambda expressions inside a list.   
A def won't work inside a list literal like this because it is a statement, not an expression.   

If we really want to use def for the same result, we need temporary function names and definitions outside:

In [55]:
def f1(x): return x ** 2
def f2(x): return x ** 3
def f3(x): return x ** 4

# Reference by name
L = [f1, f2, f3]
for f in L:
    print(f(3))

9
27
81
9
27
81
9
27
81

In [56]:
L[0](3)

9

9

9

We can use dictionaries doing the same thing:

In [57]:
key = 'quadratic'
{'square': (lambda x: x ** 2),
 'cubic': (lambda x: x ** 3),
 'quadratic': (lambda x: x ** 4)}[key](10)

10000

10000

10000

Here, we made the temporary dictionary, each of the nested lambdas generates and leaves behind a function to be called later.  
We fetched one of those functions by indexing and the parentheses forced the fetched function to be called.

Again, let's do the same thing without lambda:

In [58]:
def f1(x): return x ** 2
def f2(x): return x ** 3
def f3(x): return x ** 4
key = 'quadratic'
{'square': f1, 'cubic': f2, 'quadratic': f3}[key](10)

10000

10000

10000

The code proximity that lambda provide is useful for functions that will only be used in a single context.   Especially, if the three functions are not going to be used anywhere else, it makes sense to embed them within the dictionary as lambdas.   

Also, the def requires more names for these title functions that may cause name clash with other names in this file.

If we know what we're doing, we can code most statements as expressions:

In [59]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

9996

9996

In [60]:
min(102*98, 101*99)

9996

9996

9996

If we need to perform loops within a lambda, we can also embed things like map calls and list comprehension expressions.

In [61]:
import sys
# with map calls
fullname = lambda x: list(map(sys.stdout.write,x))
f = fullname(['Wassily ', 'Wassilyevich ', 'Kandinsky'])

Wassily Wassilyevich KandinskyWassily Wassilyevich KandinskyWassily Wassilyevich Kandinsky

In [62]:
# with list comprehension
fullname = lambda x: [sys.stdout.write(a) for a in x]
t = fullname(['Wassily ', 'Wassilyevich ', 'Kandinsky'])

Wassily Wassilyevich KandinskyWassily Wassilyevich KandinskyWassily Wassilyevich Kandinsky

**map(function, iterable, ...)**  
Return an iterator that applies function to every item of iterable, yielding the results. If additional iterable arguments are passed, function must take that many arguments and is applied to the items from all iterables in parallel. With multiple iterables, the iterator stops when the shortest iterable is exhausted.  

So, in the above example, **sys.stdout.write** is an argument for **function**, and the **x** is an iterable item, list, in the example.

## Nested lambda

In the following example, the lambda appears inside a def and so can access the value that the name x has in the function's scope at the time that the enclosing function was called:

In [0]:
def action(x):
    # Make and return function, remember x
    return (lambda newx: x + newx)

In [64]:
ans = action(99)
ans

In [65]:
ans(100)

199

199

199

Though not clear in this example, note that lambda also has access to the names in any enclosing lambda. Let's look at the following example:

In [0]:
action = (lambda x: (lambda newx: x + newx))

In [67]:
ans = action(99)
ans

In [68]:
ans(100)

199

199

199

In [69]:
(  (lambda x: (lambda newx: x + newx)) (99)) (100)

199

199

199

In the example, we nested lambda structure to make a function that makes a function when called. It's fairly convoluted and it should be avoided.

## lambda and sorted()

Here is a simple example of using lambda with built-in function sorted():


sorted(iterable[, key][, reverse])

The sorted() have a key parameter to specify a function to be called on each list element prior to making comparisons.

In [70]:
death = [
    ('James', 'Dean', 24),
    ('Jimi', 'Hendrix', 27),
    ('George', 'Gershwin', 38),
]

sorted(death, key=lambda death_or_anyname: death_or_anyname[2])

[('James', 'Dean', 24), ('Jimi', 'Hendrix', 27), ('George', 'Gershwin', 38)]

[('James', 'Dean', 24), ('Jimi', 'Hendrix', 27), ('George', 'Gershwin', 38)]

[('James', 'Dean', 24), ('Jimi', 'Hendrix', 27), ('George', 'Gershwin', 38)]