<a href="https://colab.research.google.com/github/bing020815/Python-Basic/blob/master/Basic/Python_Basic_Book_PYTHON_FOR_EVERBODY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pyhon Baisc Outline

    **Books: PYTHON FOR EVERBODY**
        1. Introduction
        2. Variables
        3. Conditional Execution
        4. Functions
        5. Iteration
        6. Strings
        7. Files
        8. List
        9. Dictionaries
        10. Tuples

## 1. Introduction

### Errors

In python, there are three general type of errors:


1.   Syntax errors
    + You have violated the "grammar" rules of python

2.   Logic errors
    + A mistake in the order of the statements

3.   Semantic errors
    + The program is perfectly correct but it does not do what you intended for it to do

### Debugging

1. Reading
2. Running
3. Ruminating
        + syntax
        + runtime
        + semantic
4. retreating

## 2. Variables

### Data type

* String: str
* Integers: int
* Number with a decimal point: float

*# Variable name cannot start with a number*


This is a statement/assignment:
```
x = 2
```
  
  
This is a script:
```
print(1)
print(x)
```

### Opertaion

**Order of operations:**  
Python follows the order of operations, PEMDAS, (Parenthese, Exponentiation, Multiplication, Division, Addition, Substraction)

**Modulus Operator:**

In [0]:
quotient = 7 //3
print(quotient)

2

In [0]:
remainder = 7 % 3
print(remainder)

1

**String Operation:**

In [0]:
# Case 1
first = '100'
second = '150'
print(first + second)

100150

In [0]:
# Case 2
first = 'Test'
second = 3
print(first * second)

TestTestTest

## 3. Conditional Execution

### Bool

Boolean Expression: TRUE/FALSE  
    =>  data type: bool

* x != y
    -  x is not equal to y
* x > y
    - x is greater than y
* x < y
    - x is less tahn y
* x >= y
    - x is greater than or equal to y
* x <= y
    - x is less than or equal to y
* x is y
    - x is the same as y
* x is not y
    - x is not the same as y
* x == y
    - x is equal to y

### Operation

**Logical Operator:**  
    1. and   
    2. or  
    3. not

In [0]:
inp = input("Enter Fahrenhiet:")
try:
    fahr = float(inp)
    cel = (fahr-32.0) * 5.0/9.0
    print(cel)
except:
    print(cel)

Enter Fahrenhiet:123
50.55555555555556

## 4. Functions

A function is a named sequence of statements that performs a comptation.

### Built-in function:
1. max: In a string, Z would be the largest one
2. min: In a string, a space would be the smallest
3. len: In a string, returns the # of characters

### Conversion functions
1. int
    * takes any value and converts it to an integer if it can
    * it can convert floating-point values to integers but it does not round off
    * it will chops off the fraction part
2. float
    * it converts integers and strings to floating-point numbers   
3. str
    * it converts its argument to a string

### Math functions
A 'math' module needs to be imported by using:

In [0]:
import math

* A module contains the **functions** and **variables** defined in the module.
* To access one of the function, you have to specify the name of the module and the name of the function, separted by a dot

In [96]:
ratio = 12/24
result = 10 * math.log10(ratio)
print(result)

-3.010299956639812

In [97]:
radians = 0.7
height = math.sin(radians)
print(height)

0.644217687237691

In [100]:
degrees = 45
radians = degrees/360.0*2*math.pi
math.sin(radians)

0.7071067811865475

### Random numbers
1. random: (From random module)
    * it returns a random float between 0.0 and 1.0 (including 0.0 but not 1.0)
2. randint
    * it takes the parameters 'low' and 'high' and returns an integer between 'low' and 'high'
3. choice
    * it choose an element from a sequence at random

In [99]:
# random
import random
for i in range(10):
    x = random.random()
    print(x)

0.7305591062488854
0.8859907707980562
0.449918375542002
0.7643633082695483
0.42944509322878277
0.8951958910887714
0.3319489418362195
0.11402093233851263
0.7428676466169906
0.9881847290549769

In [102]:
# randint
random.randint(5,10)

8

In [103]:
# randint
random.randint(5,10)

7

In [104]:
# choice
t = [1,2,3]
random.choice(t)

3

In [107]:
# choice
random.choice(t)

1

The 'random' module also provides functions to generate random values form continuous distributions inclusing "Gaussian", "exponential", "gamma" and a few more.

### Define a new function
A function definition specifies the name of a new function and the sequence of statements that exceute when the function is called.

* def
    + it indicates that this is a function definition

In [109]:
def print_lyrics(): 
    print("I'm a lumberjack, and I am okay.")
    print('I sleep all night and I work all day.')
print_lyrics()

I'm a lumberjack, and I am okay.
I sleep all night and I work all day.

* Defining a function also create a variable with the same name.
* The value of the function is a function object, which has type "function"
* Function can be used inside another function
* The statements inside the function do not get executed until the function is called

fruitful functions: yeild a result  
void functions: perform action but don;t return a value

* Void function might display something on the screen or have some other effects but they do not have a return value.
* If you try to assign the result from a void function to a variable, you will get a speial value called "None"

In [112]:
def print_twice(string):
    print(string)
    print(string)

result = print_twice('test')

test
test

In [113]:
print(result)

None

In order to return a result from a function, use "return" statement.

In [114]:
def addtwo(a,b):
    added = a+b
    return added
    
x = addtwo(3,5)
print(x)

8

## 5. Iteration

### loops

Python has five iteration functions: 
1.   if - looping with conditions
2.   for - looping through a know set of items
3.   while - loops until some condition becomes False
  
  
**The following script has five iterations:**
```
n = 5
while n > 0:
    print(n)
    n = n-1
print('blast off')
```

**Endless Loop:**
```
while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)
print('Done!')
```

## 6. Strings

The expression in brackets is called an index. Index starts from 0 to n-1. n is the length of a string.

In [15]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

Getting the length of string using len:

In [16]:
fruit = 'banana'
len(fruit)

6

In [21]:
length=len(fruit)
last = fruit[length-1]
print(last)

a

#### Negative indices

In [22]:
fruit[-1]

'a'

In [23]:
fruit[-2]

'n'

### Loops application

Use while loop to write a traversal:

In [29]:
index=0
while index < len(fruit):
    letter = fruit[index]
    print(f'{index}:{letter}')
    index = index + 1

0:b
1:a
2:n
3:a
4:n
5:a

Use for loop to write a traversal:

In [25]:
for char in fruit:
    print(char)

b
a
n
a
n
a

Use while loop to write a reverse traversal:

In [28]:
index = 1
while index-1 < len(fruit):
    letter = fruit[-index]
    print(f'{index}:{letter}')
    index = index + 1

1:a
2:n
3:a
4:n
5:a
6:b

### String slices
Selecting a slice is similar to selecting a character.

In [30]:
s = 'Monty Python'
print(s[0:5])
print(s[6:12])

Monty
Python

The operator returns the part of the sting from the 'n-th' to 'm-th' character, including the first but excluding the last.

In [31]:
fruit = 'banana'
fruit[:3]

'ban'

In [32]:
fruit[3:]

'ana'

If the first index is greater than or equal to the second the result is an empty string

In [33]:
fruit = 'banana'
fruit[3:3]

''

The best you can do is create a new string that is a variation on the original:

In [36]:
greeting = 'Hello World!'
new_greeting = 'J' + greeting[1:]
print(new_greeting)

Jello World!

### Looping and counting

In [38]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
        print(count)

1
2
3

### The 'in' operator

In [39]:
'a' in 'banana'

True

In [40]:
'seed' in 'banana'

False

### String comparison

In [42]:
word = 'banana'
if word == 'banana':
    print('All right, bananas')

All right, bananas

### String Methods
1. dir: shows the available methods
2. type: type of an object

In [43]:
stuff = 'hello world'
type(stuff)

str

In [44]:
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
help(str.capitalize)

Help on method_descriptor:

capitalize(...)
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

Calling a method is similar to calling a function but the syntax is different:
1. upper
2. find
3. strip
4. lower
5. startswith
6. count

In [47]:
# upper
word = 'banana'
new_word = word.upper()
print(new_word)

BANANA

In [48]:
# find
word.find('na')

2

In [49]:
# find (setting the index where it should start)
word.find('na', 3)

4

In [52]:
# strip: get rid of leading and trailing spaces
line = ' Here we go             '
line.strip()

'Here we go'

In [53]:
# lower
line = 'Have a nice day'
line.lower()

'have a nice day'

In [54]:
# startswith
line = 'Have a nice day'
line.startswith('h')

False

In [55]:
line.startswith('H')

True

In [56]:
# count
line.count('e')

2

### Parsing strings

In [60]:
data = ' from abc@this.is.test Sat Jan 23:45:67 2019'
atpos = data.find('@')
stoppos = data.find(' ', atpos)
host = data[atpos +1 :stoppos]
print(host)

this.is.test

### Format operator
The formate operator, % allows us to construct strings, replacing parts of the strings with the data stored in variables.

%d means that the second operand should be formatted as an integer:

In [69]:
camels=42
"I have spotted %d camels" %camels

'I have spotted 42 camels'

%g is to format a floating-point number and % is to formate a string

In [71]:
'In %d years, I have spotted %g %s.' %(3, 0.1, 'camels')

'In 3 years, I have spotted 0.1 camels.'

## 7. Files

### Use open()

Count each of the lines in a files:



```
fhand = open('inbox-short.txt')
count = 0
for line in fhand:
    count = count +1
    print('Line count:', count)
```

If the file is relatively small compared to the size of your main memory, using the 'read' method on the file handle.


```
fhand = open('inbox-short.txt')
inp = fhand.read()
```

If the file is too large to fit in main memory, you should write your program to read the file in chunks using a for or while loop.

```
fhand = open('inbox-short.txt')
count = 0
for line in fhand:
    line = line.strip()
    if line.startswith('From:'):
        print(line)
```

As the file processing programs get more complicated, you may want to structure your search loops using "continue"



```
fhand = open('inbox-short.txt')
count = 0
for line in fhand:
    line = line.strip()
# skip 'uninteresting lines'
    if not line.startswith('From:'):
        continue
# process the 'interesting lines'
    print(line)
```

* find() return -1 if the string was not found


```
fhand = open('inbox-short.txt')
count = 0
for line in fhand:
    line = line.strip()
    if line.find('@utc.ac.za')==-1:
        continue
    print(line)
```

* try/except for reading file program


```
fname = input('Enter the file name:')
try:
    fhand=open('inbox-short.txt')
except:
    print('File cannot be opened', fname)
    exit() # terminate the program
count = 0
for line in fhand:
    line = line.strip()
# skip 'uninteresting lines'
    if not line.startswith('Subject:'):
        count= count + 1
print('There were', count, 'subject lives in', fname)
```

### writting files

To write a file, you have to open it with mode "w" as a second parameter:

In [80]:
# If the file already exists, opening it in write mode clears out the old data and starts fresh
# + sign allow the 'read' mode
fout = open('output.txt','w+')
print(fout)

<_io.TextIOWrapper name='output.txt' mode='w+' encoding='UTF-8'>

The 'write' method of the file handle object puts data into the file, returning the number of characters written

In [76]:
line1='This is test line\n'
fout.write(line1)

18

In [81]:
for line in fout:
    line = line.strip()
    print(line)

This is test line

Close the file when writting is done.

In [0]:
fout.close()

Spaces, tabs, and newlines can be treated as a string by using 'repr'

In [89]:
s='1 2\t 3\n 4'
print(f'Without "repr":\n{s}\n')
print(f'With "repr":{repr(s)}')

Without "repr":
1 2	 3
 4

With "repr":'1 2\t 3\n 4'

## 8. List

A list is a sequence of values (elements/items). 
* In a string: values are characters
* In a list: values can be any type

Example: [10, 20, 30, 40]

A list within another list is nested. A list that contains no elements is called an empty list.  
Example: []  

```
['Spam', 2.0, 5, [10,20]]
```
Here, 'Spam' is string type; 2.0 is float type, 5 is integer; and [10,20] is a list

len(): returns the number of elements in the list  
range(): returns a list of indices from 0 to n-1

### Lists are mutable:

In [0]:
# Define a list
cheeses = ['cheddar', 'Edam' , 'Gouda']
# assign a value to the list
cheeses[0] = 'Cheddar'
# call the lis
cheeses

['Cheddar', 'Edam', 'Gouda']

### List operation

In [0]:
# Concatenation
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [0]:
# Repetition
[0]*4

[0, 0, 0, 0]

In [0]:
# Repetition
[1, 2, 3]* 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [0]:
# Membership
1 in [1,2,3]

True

In [0]:
# Iteration
for x in [1, 2, 3]: 
    print(x)

1
2
3

In [0]:
# Length
len([1, 2, 3])

3

### List slices

In [0]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [0]:
t[1:3]

['b', 'c']

In [0]:
t[:4]

['a', 'b', 'c', 'd']

In [0]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [0]:
t[-1]

'f'

In [0]:
t[:-1]

['a', 'b', 'c', 'd', 'e']

In [0]:
t[1:3]=['x','y']
t

['a', 'x', 'y', 'd', 'e', 'f']

### List methods
1. append
2. extend
3. sort

In [0]:
# append
t = ['a', 'b', 'c']
t.append(['d','e'])
print(t)

['a', 'b', 'c', ['d', 'e']]

In [0]:
# extend
t1 = ['a', 'b', 'c']
t2= ['d','e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

This method leaves t2 unmodified.

In [0]:
# sort
t=['a', 'd', 'e', 'b', 'c', 'f']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e', 'f']

DONT USE t=t.sort() ! It will return "NONE" !!

### Deleting elements
1. pop    - can save the deleted value
2. del    - Don't need the removed value and know index 
3. remove - know elem,ent but not index

In [0]:
# pop
t = ['a', 'b', 'c']
x=t.pop(1)
print(f't: {t}')
print(f'x: {x}')

t: ['a', 'c']
x: b

In [0]:
# del
t = ['a', 'b', 'c']
del t[1:3]
print(t)

['a']

In [0]:
# remove
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

* sum() can only be used when the elements are numbers
* max(), len(), etc, can be used with lists of strings and other types

In [0]:
numlist = list()
while True:
    inp = input('Enter a number:')
    if inp == 'done':
        break
    value = float(inp)
    numlist.append(value)
    average = sum(numlist)/len(numlist)
    print(f'Average: {average}')

Enter a number:10
Average: 10.0
Enter a number:85
Average: 47.5
Enter a number:2
Average: 32.333333333333336
Enter a number:done

### Lists and strings

#### Convert a string to a list of char:
1. list
2. split

In [1]:
# list - break a string into individual letters
s='spam'
t=list(s)
print(t)

['s', 'p', 'a', 'm']

In [6]:
# split - break a string into words
s = "printing      for the    frog"
t=s.split()  #- In default, it will split all the words on varies of white spaces
print(t)

['printing', 'for', 'the', 'frog']

In [8]:
print(t[3])

frog

In [9]:
# split - with delimiter
s='spam-spam-spam'
delimiter = '-'
s.split(delimiter)

['spam', 'spam', 'spam']

#### Take a list of strings and concatenates the elements:
* join

In [11]:
# delimiter as a whitespace
t=['printing', 'for', 'the', 'frog']
delimiter=' '
delimiter.join(t)

'printing for the frog'

In [12]:
# delimiter as None
t=['printing', 'for', 'the', 'frog']
delimiter=''
delimiter.join(t)

'printingforthefrog'

### Parsing lines
* If two list are equivalent, they are not necessarily identical.
* If two list are identical, they are also equivalent.

### Aliasing

In [13]:
a=[1,2,3]
b = a
b is a

True

Now, b is refering a.
When b is changed, a is also changed.

In [14]:
b[0] = 17
print(a)

[17, 2, 3]

In general, it is safter to avoid aliasing when you are working withmutable objects.

## 9. Dictionaries
* A dictionary is like a list
* The indices of a dictionary can be any type

**Dictionary**: A mapping between a set of indices (which are called keys) and a set of values  

**Key-value pair**: the associationi of a key and a value

In [115]:
adict=dict()
print(adict)

{}

The curly breakets, {}, represent an empty dictionary.  
To add items to the dictionary, use square brackets:

In [0]:
# add a key value pair: 'one':'uno'
adict['one']='uno'

The order of items in a dictionary isunpredictable.

In [118]:
adict={'one':'uno', 'two':'dos', 'three':'tres', 'a':'wha'}
print(adict)

{'one': 'uno', 'two': 'dos', 'three': 'tres', 'a': 'wha'}

Look up the corresponding values by keys:

In [119]:
print(adict['a'])

wha

The len function works on dictionaries; it returns the number of key value pairs

In [120]:
len(adict)

4

The "in" operator works on dictionaries; it tells you whether something appears as a key in the dictionary.

In [123]:
# works with key
'one' in adict

True

In [124]:
# does not work with value
'uno' in adict

False

Use 'values' to see whether somehing appears as a value in a dictionary

In [126]:
vals = list(adict.values())
'uno' in vals

True

### Dictionary as a set of counters

In [127]:
word = 'brontosaurus'
d = dict()
for c in word:
    if c not in d:
        d[c] = 1
    else:
        d[c]= d[c] + 1
print(d)

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

### get
It takes a key and a default value. If the key appears in the dictionary. 'get' returns the corresponding value; otherwise it returns the default value.

In [129]:
counts = {'chuck':1, 'annie':42, 'jan':100}
print(counts.get('jan'))

100

In [131]:
print(counts.get('tim'))

None

Write a histogram loop

In [133]:
word = 'brontosaurus'
d = dict()
for c in word:
    # get(c,0): if there is not key in the dictionary, return 0
    d[c]=d.get(c,0)+1
print(d)

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

### Dictionaries and files

In [0]:
fname = input('Enter the file name:')
try:
    fhand=open(fname)
except:
    print('File cannot be opend:', fname)
    exit()
counts = dict()
for line in fhand:
    words=line.split()
    for word in words:
        if word not in counts:
            count[word]=1
        else:
            counts[word]+=1
print(counts)

### Looping and dictionaries

In [134]:
counts = {'chuck':1, 'annie':42, 'jan':100}
for key in counts:
    print(key, counts[key])

chuck 1
annie 42
jan 100

### Using pattern

In [135]:
counts = {'chuck':1, 'annie':42, 'jan':100}
for key in counts:
    if counts[key]>10:
        print(key, counts[key])

annie 42
jan 100

### Make the keys in alphabetical order

In [136]:
counts = {'chuck':1, 'annie':42, 'jan':100}

lst = list(counts.keys())
print(lst)
lst.sort()
for key in lst:
    print(key, counts[key])

['chuck', 'annie', 'jan']
annie 42
chuck 1
jan 100

### Advanced text parsing (with punctuation)
1. string method:
    * lower
    * punctuation
    * translate
2. fromstr
    * replace the characters
3. tostr
    * with the character in the same position
4. deletstr
    * delete all charactors

In [0]:
import string

In [138]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

To remove punctuation of a text:

In [0]:
fname = input('Enter the file name:')
try:
    fhand=open(fname)
except:
    print('File cannot be opend:', fname)
    exit()
counts = dict()
for line in fhand:
    line = line.translate(line.maketrans(' ','',string.punctuation))
    line=line.lower()
    words=line.split()
    for word in words:
        if word not in counts:
            count[word]=1
        else:
            counts[word]+=1
print(counts)

## 10. Tuples
A tuple is a sequence of values much like a list.  
THe values stored in a tuple can be any type and they are indexed by integers.

* tuples are immutable
* tuples are also comparable and hashable
* tuples can be sorted and be used as key alues in Python dictionaries
* tuple is a comma-separated list of values

In [139]:
t = 'a', 'b', 'c', 'd', 'e'
t

('a', 'b', 'c', 'd', 'e')

In [140]:
t = ('a', 'b', 'c', 'd', 'e')
t

('a', 'b', 'c', 'd', 'e')

To create a tuple with a single element, a final comma must be included. Otherwise, python will treats ('a') as an expression with a string

In [141]:
t1=('a',)
type(t1)

tuple

In [142]:
t=tuple()
print(t)

()

If the argument is a sequence (string, list, or tuple), the result of the call to tuple is a tuple with the elements of the swquence:

In [143]:
t=tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')

* Tuple cannot be modified

In [144]:
t[0]='A'

TypeError: ignored

* But tuple can be replaced by other tuple

In [146]:
t=('A', ) + t[1:]
print(t)

('A', 'u', 'p', 'i', 'n', 's')

### Comparing tuples
1. Decorate
2. Sort
3. Undercorate

Sort a list of words from longest to shortest

In [155]:
txt = 'but soft what light in yonder window breaks'
words=txt.split()
t=list()
words.sort(reverse=True)
print('sorted on alphabet:',words)
for word in words:
    t.append((len(word), word)) #tuple
t.sort(reverse=True)
print('sorted on length:',t)
res = list()
for length, word in t:
    res.append(word)
print(res)

sorted on alphabet: ['yonder', 'window', 'what', 'soft', 'light', 'in', 'but', 'breaks']
sorted on length: [(6, 'yonder'), (6, 'window'), (6, 'breaks'), (5, 'light'), (4, 'what'), (4, 'soft'), (3, 'but'), (2, 'in')]
['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

### Tuple assignment
It can be assigned to more than one variable at a time when the left side is a sequence

In [156]:
m=['have', 'fun']
x,y=m
print(x)
print(y)

have
fun

In [157]:
m=['have', 'fun']
x=m[0]
y=m[1]
print(x)
print(y)

have
fun

In [158]:
m=['have', 'fun']
(x,y)=m
print(x)
print(y)

have
fun

* Swap the values of two variables in a single statement

In [164]:
(a,b)=(1,2)
print('before:')
print(a)
print(b)

a,b=b,a
print('\nafter:')
print(a)
print(b)

before:
1
2

after:
2
1

Split an email address into a name&domain:

In [165]:
addr='monty@python.org'
uname, domain=addr.split('@')
print(uname)
print(domain)

monty
python.org

* Dictionaries have a method called "items" that returns a list of tuples, where each tuple is akey-value pair

In [171]:
d={'a':10, 'c':22, 'b':1}
t=list(d.items())
print(t)

[('a', 10), ('c', 22), ('b', 1)]

It can be sorted after using .items()

In [172]:
d={'a':10, 'c':22, 'b':1}
t=list(d.items())
t.sort()
t

[('a', 10), ('b', 1), ('c', 22)]

* Mutiple assignment with dictionaries

In [178]:
for key, val in list(d.items()):
    print('key:{:1} value:{:2}'.format(key, val))

key:a value:10
key:c value:22
key:b value: 1

* Lists are more common than tuples
* There are a few cases you might prefer tuples
1. "return" statement
    * it is sytactically simpler to create a tuple than a list
2. use a sequence as a dictionary key
    * you have to use an immutable type like a tuple or string
3.  passing a sequence as an argement to a function, using tuples reduces the potential for unexpected behavior

'sort', 'sorted', 'reverse', 'reversed' do work on tuples